<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.co.androider.spring3.app.controller.bean.AppBean" alias="AppBean"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/kr/co/androider/spring3/retrieveSql.xml" />
	</mappers>
</configuration>