<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="kr.co.androider.spring3.app.dao.AppDao">

	<resultMap id="appResult" type="AppVo">
		<result property="appId" column ="APP_ID"/>
		<result property="appPkgName" column ="APP_PKG_NAME"/>
		<result property="appSize" column ="APP_SIZE"/>
	</resultMap>

	<select id="retrieveApp" parameterType="map" resultMap="appResult">
		<![CDATA[
		SELECT APP_ID, APP_PKG_NAME, APP_SIZE FROM TB_CPM_APP_BAS WHERE APP_PKG_NAME = #{appPkgName} AND APP_NAME = #{appName}
		]]>
	</select>
	
	<insert id="createApp" parameterType="kr.co.androider.spring3.app.vo.AppVo">
		INSERT INTO TB_CPM_APP_BAS (
			APP_ID,
			APP_NAME,
			APP_PKG_NAME,
			APP_VER_CODE,
			APP_VER_NAME,
			USE_FLAG,
			GEN_USR_ID,
			GEN_DATE,
			LAST_CHG_USR_ID,
			LAST_CHG_DATE
		) VALUES (
			#{appId}, #{appName}, #{appPkgName}, #{appVerCode}, #{appVerName}, 
			#{useFlag}, #{genUsrId}, SYSDATE, #{lastChgUsrId}, SYSDATE
		)
    </insert>

</mapper>